/* <usa-spring> */
usa-spring { display: inline-block; transform-origin: 50% 70%; }
usa-spring[block] { display: block; }
usa-spring[effect="drop"] { transform-origin: 50% 100%; }
usa-spring[data-state="hidden"] { opacity: 0; }
usa-spring[trigger="click"], usa-spring[trigger="hover"] { cursor: pointer; -webkit-tap-highlight-color: transparent; }
